header {
    background:url(https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1060&t=st=1690161999~exp=1690162599~hmac=4263511cfa3f248916ca38c3a57326994dd9c24cb43d9a88be38c2fca83dfc31);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}