<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home Login</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!userLoginOn">
            <a class="nav-link" aria-current="page" routerLink="/iniciar-sesion">Iniciar Sesion</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!userLoginOn">
            <a class="nav-link" aria-current="page" 
              >Portafolio</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/clientes"
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Mi</a>
          </li>
          <li class="nav-item dropdown" *ngIf="userLoginOn">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
             Proyectos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">FrontEnd</a></li>
              <li><a class="dropdown-item" href="#">Backend</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" routerLink="/inicio">Cerrar Sesion</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  